@page
@model Home_Page___Hristo_Ganchev.Pages.ConsolesPageModel
@{
}

<h2 id="text-white">CONSOLES:</h2>

 <div id="div-allconsoles">

    <a href="/GamesPage">

        <div id="div-game">

            <div id="div-image-game">
                <img src="~/images/Screenshot_459.png" width="140" height="140" />
            </div>

            <h4 id="text-white">PlayStation 4</h4>

        </div>
    </a>


 </div>


