@page
@model Home_Page___Hristo_Ganchev.Pages.ConsolesPageModel
@using Console = PLAYRATE_ClassLibrary.Consoles.Console;
@{
}

<h2 id="text-white">CONSOLES:</h2>


 <div id="div-content-box-consoles">
    <a>

        @foreach (Console console in Model.Consoles)
        {
            <div id="div-game">
                <a asp-page="GamesPage" asp-route-model="@console.Model">
                    <div id="div-image-game">
                        <img src="@console.URL_Console" width="140" height="170" />
                    </div>

                    <h4 id="text-white">@console.Model</h4>

                </a>
            </div>
        }

    </a>


 </div>


