@page
@model Home_Page___Hristo_Ganchev.Pages.FindUsModel
@{
}

<div id="div-content-box">
	<h2 id="text-white">@Model.PageTitle</h2>

		<h4 id="text-white">Email: info@playrate.nl</h4>
		<h4 id="text-white">Customer Support: +31 6 1357 0873</h4>
		<h4 id="text-white">Rachelsmolen 1, 5612 MA Eindhoven</h4>

	<div id="form-login">
		<form method="post" class="contact-form">

			<label type="text-white" asp-for="Contact.Name">Name</label>
			<span asp-validation-for="Contact.Name"></span>
			<input asp-for="Contact.Name" type="text" placeholder="Your name..." style="width: 500px" autocomplete="off" />

			<label asp-for="Contact.Email">Email</label>
			<span asp-validation-for="Contact.Email"></span>
			<input asp-for="Contact.Email" type="text" placeholder="Your e-mail address..." style="width: 500px" autocomplete="off" />

			<label asp-for="Contact.Country">Country</label>
			<select asp-for="Contact.Country" style="width: 500px" autocomplete="off">
				<option disabled selected>Please select a country</option>
				<option value="The Netherlands">The Netherlands</option>
				<option value="Bulgaria">Bulgaria</option>
				<option value="Romania">Romania</option>
				<option value="Czechia">Czechia</option>
				<option value="Hungary">Hungary</option>
			</select>

			<label asp-for="Contact.Subject">Subject</label>
			<span asp-validation-for="Contact.Subject"></span>
			<textarea asp-for="Contact.Subject" class="subject" rows="5" style="width: 500px" autocomplete="off"
			placeholder="Write something ...">@Model.SubjectText</textarea>
			<div>
				<input type="submit" value="Submit" style="width: 500px" autocomplete="off" />
			</div>
		</form>
	</div>
	
	<h2 id="text-white">@Model.SuccessfulSubmission</h2>

</div>
