@page
@model Home_Page___Hristo_Ganchev.GamesPageModel
@{
    ViewData["Title"] = "Games Page";
}

<h2 id="text-white">@Model.PageTitle</h2>

<div id="div-content-box-games">


    <a href="/JustCause4">
    <div id="div-game" href="/JustCause4">
        
        <div id="div-image-game">
            <img src="~/images/screenshot_403.png" width="140" height="170"/>
        </div>

        <h4 id="text-white">JUST CAUSE 4</h4>

        <img src="~/images/screenshot_404.png" width="120" height="30" /> 
    
    </div>

    </a>
    
    
<div class="sidebar-filter">

    <form method="post">
        <h3 id="text-white" asp-for="Filter.Keyword">SEARCH</h3>     
        <input asp-for="Filter.Keyword" />
        <input type="submit" value="Submit" />
    </form>

        
        <h4 id="text-sidebar">Filter by:</h4>
        <div id="checkbox-field">
            <input type="checkbox" id="checkboxHighestRating" name="checkboxHighestRating" value="1">
            <label id="text-white" for="checkboxHighestRating">Highest rating</label>

            <input type="checkbox" id="checkboxLatestRelease" name="checkboxLatestRelease" value="1">
            <label id="text-white" for="checkboxLatestRelease">Latest release</label>
        
            <input type="checkbox" id="checkboxMostReviews" name="checkboxMostReviews" value="1">
            <label id="text-white" for="checkboxMostReviews">Most reviews</label>
        </div>

        <h4 id="text-sidebar">Genres:</h4>

        <div id="checkbox-genre-field">
            <input type="checkbox" id="checkboxFantasy" name="checkboxFantasy" value="1">
            <label id="text-white" for="checkboxFantasy">Fantasy</label>

            <input type="checkbox" id="checkboxSci-Fi" name="checkboxSci-Fi" value="1">
            <label id="text-white" for="checkboxSci-Fi">Sci-Fi</label>

            <input type="checkbox" id="checkboxHistory" name="checkboxHistory" value="1">
            <label id="text-white" for="checkboxHistory">History</label>

            <input type="checkbox" id="checkboxHorror" name="checkboxHorror" value="1">
            <label id="text-white" for="checkboxHorror">Horror</label>

            <input type="checkbox" id="checkboxAction" name="checkboxAction" value="1">
            <label id="text-white" for="checkboxAction">Action</label>

            <input type="checkbox" id="checkboxStrategy" name="checkboxStrategy" value="1">
            <label id="text-white" for="checkboxStrategy">Strategy</label>

            <input type="checkbox" id="checkboxSports" name="checkboxSports" value="1">
            <label id="text-white" for="checkboxSports">Sports</label>

            <input type="checkbox" id="checkboxMMO" name="checkboxMMO" value="1">
            <label id="text-white" for="checkboxMMO">MMO</label>

            <input type="checkbox" id="checkboxRPG" name="checkboxRPG" value="1">
            <label id="text-white" for="checkboxRPG">RPG</label>
        </div>

    </div>
</div>