@page
@model Home_Page___Hristo_Ganchev.GamesPageModel
@{
    ViewData["Title"] = "Games Page : PlayStation";
}

<h2 id="text-white">@Model.PageTitle</h2>

<div id="div-content-box-games">
    
    <div id="div-allgames">
        
        <a href="/JustCause4">
            
            <div id="div-game" href="/JustCause4">
        
                <div id="div-image-game">
                    <img src="~/images/screenshot_403.png" width="140" height="170"/>
                </div>

                <h4 id="text-white">JUST CAUSE 4</h4>
  
            </div>
            
        </a>

    </div>
    
<div class="sidebar-filter">

    <form method="post" asp-page="./GamesPage">

            <h3 id="text-white" asp-for="Filter.Keyword">SEARCH</h3>
            <input autocomplete="off" asp-for="Filter.Keyword" />
            <input type="submit" value="Submit" />

      
        <h4 id="text-sidebar">Filter by:</h4>
            <div id="rb-field">
                <input type="radio" asp-for="Filter.MainFilter" value="Highest rating">
                <label id="text-white" asp-for="Filter.MainFilter">Highest rating</label>

                <input type="radio" asp-for="Filter.MainFilter" value="Latest release">
                <label id="text-white" asp-for="Filter.MainFilter">Latest release</label>

                <input type="radio" asp-for="Filter.MainFilter" value="Most reviews">
                <label id="text-white" asp-for="Filter.MainFilter">Most reviews</label>
            </div>


           <h4 id="text-sidebar">Genres:</h4>

           <div id="checkbox-field">
                @foreach (BusinessLogic.Genres genre in Enum.GetValues(typeof(BusinessLogic.Genres)))
                {
                    <input type="checkbox" asp-for="Filter.GenreFilter" value="@genre">
                    <label id="text-white" for="checkbox@genre">@genre</label>
                }
            </div>

    </form>

    </div>
</div>