@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="div-content-box">

    <h3 id="text-homepage-AboutUs">
        ABOUT US:
    </h3>

    <h4 id="text-homepage-first">
        PLAY RATE Inc. is a company created in 2023 by Hristo Ganchev in Eindhoven, The Netherlands. Currently, the team consists of only one person.
    </h4>

    <h4 id="text-homepage-second">
        The goal of the website is simple: give the audience knowledge about a video game that they are planning to buy/play.  After they do so, they can write reviews, comments, and even rate the game.
    </h4>

    <h6 id="text-homepage-Motto">
        “From gamers, for gamers!”, Hristo Ganchev, Founder and CEO
    </h6>

</div>
