@page
@model Home_Page___Hristo_Ganchev.Pages.JustCause4Model
@{
}

<div id="div-content-box-desc">

    <h1 id="text-white">JUST CAUSE 4</h1>
	
    <div id="div-image-desc">
        <img src="~/images/jc4img.jpg" width="720" height="430"/>
    </div>

    <div id="text-details">
        <h4>Developer: Avalanche Studios</h4>
        <h4>Release date: 4 Dec 2018</h4>
        <h4>Genre: Action-adventure, Singleplayer</h4>
        <h4>Rating: 3.2 / 5</h4>
    </div>

    <h4 id="text-description">The game is set in a fictional South American country called Solís, 
        which is home to extreme weather conditions. Rico Rodríguez takes on the 
        Black Hand, the world's most powerful private army run by Gabriela Morales, 
        a newly introduced character. The Black Hand served as a mercenary group to 
        dictators Salvador Mendoza of Just Cause and Sebastiano Di Ravello in Just Cause
        3. When Rico is shown evidence that his late father was working with The Black 
        Hand, he plunges into the South American nation of Solís, the homeland of the 
        Black Hand in search of answers.</h4>

    <div class="sidebar-reviews">
        <h3 id="text-sidebar">REVIEWS</h3>
        <h5 id="text-sidebar">There are no reviews for this game yet!</h5>
    </div>


</div>