@page
@model Home_Page___Hristo_Ganchev.Pages.LogInModel
@{
}

<div id="div-content-box">
	<h2 id="text-white">LOG IN:</h2>

@*	<div id="form-login">
		<form method="post" class="contact-form">

			<label type="text-white" asp-for="Account.Name">Name</label>
			<span asp-validation-for="Account.Name"></span>
			<input asp-for="Account.Name" type="text" placeholder="Your name..." style="width: 500px" autocomplete="off" />

			<label asp-for="Account.Password">Password</label>
			<span asp-validation-for="Account.Password"></span>
			<input asp-for="Account.Password" type="text" placeholder="Your password..." style="width: 500px" autocomplete="off" />

			<div>
				<input type="submit" value="Submit" style="width: 500px" autocomplete="off" />
			</div>

		</form>
	</div>*@
</div>
