@page
@model Home_Page___Hristo_Ganchev.Pages.RegisterModel
@{
}

<div id="div-content-box">
	<h2 id="text-white">@Model.PageTitle</h2>

	<form method="post" id="form-login" class="contact-form">
			
			<label asp-for="Account.Email">Email:</label>
			<span asp-validation-for="Account.Email"></span>
			<input autocomplete="off" type="text" id="email" asp-for="Account.Email">

			<label asp-for="Account.Username">Username:</label>
			<span asp-validation-for="Account.Username"></span>
			<input autocomplete="off" type="text" id="username" asp-for="Account.Username">

			<label asp-for="Account.Password">Password:</label>
			<span asp-validation-for="Account.Password"></span>
			<input autocomplete="off" type="password" id="password" asp-for="Account.Password">

			<div>
			<input class="btnLogIn_Register" type="submit" value="Register" style="width: 189px" autocomplete="off" />
			</div>

		</form>

</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}