@page
@model Home_Page___Hristo_Ganchev.Pages.ThankYouModel
@{
}

<div id="text-white">
	<h1>Thank you!</h1>
	<h3>Your review has been submitted!</h3>
</div>


<form method="post">
    <input class="btnThankYou" type="submit" value="Back to consoles" />
</form>
